/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "morpheus-default"; // This is used for bootstrap font behaviour.

$break-small-end: 	1025px;
$break-medium-end: 	1025px;
$break-medium-tablet-end: 	1023px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$small-desktop: "only screen and (max-width : #{ $break-medium-tablet-end - 1 })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
//$font-family-url: "//fonts.googleapis.com/css?family=Montserrat:400|Roboto:400,700" ;

//Typography variables
$font-family: "PT Sans","Trebuchet MS",sans-serif !default;
$default-font-size: 16px !default;
$default-font-weight: 400 !default;										// 300, 400 or 700 as you wish
$header-font-family: "Montserrat", sans-serif;
$header-font-weight: 400 !default;										// 300, 400 or 700 as you wish

/* Color palette */
$background-color: 			 #FFFFFF !default;
$background-color-secondary: #424242 !default;

$tool-background-color:		 $background-color !default;
$toolMenuBGColor:			 #EBEBEB !default;
$toolMenuColor: 			 #424242 !default;
$toolTabBGColor: 			 #F8F8F8 !default;
$toolBorderColor:			 #E0E0E0 !default;

$primary-color:    			 #831453 !default;
$secondary-color:  			 #F00 !default;
$alt-colour: 				 #d36f00 !default;

$text-color:				 #424242 !default;

$breadcrumbs-color:			 $text-color !default;
$breadcrumbs-tool-color:		 #259bcd !default;
$breadcrumbs-hover-color:		 ligthen( $breadcrumbs-tool-color, 5% ) !default;

/* Link colors */
$link-color: $primary-color !default;
$link-active-color: ligthen($primary-color, 5%);
$link-hover-color: darken($primary-color, 5%);
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:	 #424242 !default;
$button-border-color: #a0a0a0 !default;
$button-background-color: #EDEDED !default;
$button-background-secondary-color: #FFF !default;
/* General button colors */
$button-color-text-color: #424242 !default;
$button-color-border-color: #A0A0A0 !default;
$button-color-background-color: #EDEDED !default;
$button-color-background-secondary-color: #fff !default;
/* ///////////// */

$okcolor: 					 #3c763d !default;
$errorcolor: 			 	 #f2dede !default;
$warncolor: 			 	 #F6ECB7 !default;

$swapped-view-primary: 		 #bf360c !default;
$swapped-view-text-color:	 #414141 !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #e4c6af !default;
$header-gradient-b: #d9c9b9 !default;
$header-gradient-c: #d7ccc4 !default;
$header-gradient-d: #cbc693 !default;

/* Main Menu */
$header-size : 3.8em !default;

/* Tool Menu */
$tool-menu-width: 7.5em !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

/* Logo location */
$logo: 'images/logo-udl.png' !default;
//$logo-height: 40px !default;
//$logo-width:  40px !default;

/* Tool icons */
$skin-with-icons: false !default;
$icon-size: 20px !default;

@import "customization"; //it is created on-the-fly by maven.

// @import url(#{$font-family-url});
