.#{$namespace}toolTitleNav{
	display: none;
}

#skipNav, #show-all-sites, .#{$namespace}siteHierarchy{
	display: none;
}

.#{$namespace}portalWrapper{
	background: $background-color;
	margin: 0 0 0 0;
	padding: 0 48px;
	h1{ font-size: 32px; color: $primary-color; }
	h2{ font-size: 24px; color: #525252; }
	h3{ font-size: 18px; }
	@media #{$phone}{
		padding: 0 16px;
	}
}

.#{$namespace}container--footer{
	margin: 0 -48px;
	padding: 48px 48px;
	background: #F1F1EC;
	@media #{$phone}{
		margin: 0 -16px;
		padding: 32px 16px;
	}
	a[href]{
		color: $primary-color;
	}
}

#topnav_container{
	position: absolute;
	right: 0px;
	top: 95px;
	z-index: 99;
	padding: 7px 5px 5px 0;
	@media #{$phone}{
		top: 20vh;
	    z-index: 99;
	    padding: 19px 5px 5px 0;
	}
	li{
		display: inline-block;
		margin: 0 1em 0 0;
		@media #{$phone}{
			display: block;
		}
	}
	a[href]{
		color: #FFF;
		text-decoration: none;
		font-size: 0.9em;
		&:hover{
			color: #F0F0F0;
		}
	}
}

#loginLinksImage{
	position: absolute;
	z-index: 2;
	@media #{$desktop}{
		right: 16px;
		top: 30px;
	}
	@media #{$phone}{
		position: absolute;
		top: 65vh;
		right: 0;
		z-index: 2;
		left: 0;
		text-align: center;	
	}
	p{
		display: inline-block;
		margin: 0 0 0 0.5em;
	}
}

#loginLink1{
	background-color: $primary-color;
	border-radius: 0;
	border: 1px solid #FFF;
	color: #FFF;
	display: inline-block;
	line-height: 1;
	overflow: hidden;
	font-size: 13px;
	padding: 10px 6px;
	text-align: center;
	text-transform: uppercase;
	min-width: 133px;
	white-space: nowrap;
	text-decoration: none;
	transition: background-color 0.15s linear;
	&:hover{
		background-color: $background-color;
		color: $primary-color;
	}
}

#loginLink2{
	background-color: rgba(#FFF, 0.1);
	border-radius: 0;
	border: 1px solid #FFF;
	color: #FFF;
	display: inline-block;
	line-height: 1;
	overflow: hidden;
	padding: 10px 6px;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	min-width: 133px;
	white-space: nowrap;
	text-decoration: none;
	transition: background-color 0.15s linear;
	@media #{$phone}{
		background-color: transparent;
		border: 1px solid #FFF;
		color: #FFF;
		&:hover{
			color: #FFF;
		}	
	}
	&:hover{
		background-color: $background-color;
		color: $primary-color;
	}
}

#toolMenu{
	background: darken($primary-color, 10%);
	position: absolute;
	top: 95px;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 7px 0 5px 5px;
	/*&.scrolled{
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	}*/
	@media #{$tablet}{
		/*margin-left: -30px;
		padding: 60px 0 20px 15px;*/
	} 
	@media #{$phone}{ 
		background: transparent;
		top: 20vh;
		left: 8px;
		right: 50%;
		.Mrphs-toolsNav__menuitem--help{
			display: none;
		}
	}
	ul{
		li{
			display: inline-block;
			margin: 0 0 0 0; 
			line-height: 1;
			@media #{$phone}{
				border-right: 0px none;
				display: block;
				margin: 1em 0; 
			}
			&.js-toggle-nav{
				display: none;
			}
			&:last-child{
				border-right: 0px none;
			}
			.Mrphs-toolsNav__menuitem--icon{
				display: none;
			}
			a[href]{
				color: $background-color;
				font-size: 0.9em;
				line-height: 1;
				padding: 9px 0.5em;
				text-decoration: none;
				transition: background 0.15s linear;
				&:hover{
					background: $primary-color;
				}
				/*
				@media #{$tablet}{
					padding: 0 1em;
				}
				@media #{$phone}{
					color: #FFF;
					padding: 0 0 0 0;
					display: block;
				}
				*/
			}
		}
	}
}

#footer{
	font-size: 0.75em;
}

#footer-links{
	li{
		display: inline-block;
		margin: 0 1em 0 0;
	}
}

.row{
	img{
		max-width: 100%;
		margin: 1em 0 0 0;
		@media #{$phone}{
			display: block;
			margin: 0 auto;
		}
	}
}