body.is-logged-out{
	.#{$namespace}loginUser{
		li{
			a{
				.login-Icon{
					display: none;
				}
			}
		}
	}
	.Mrphs-mainHeader .Mrphs-headerLogo .Mrphs-headerLogo--institution{
		//margin: 0.6em 1.5em 0 1em;
	}
	.#{$namespace}topHeader{
		@media #{$phone}{
			min-height: $header-size;
		}
	}
}

.#{$namespace}mainHeader{
	
	.#{$namespace}loginUser{
		display: inline-flex;
		li{
			display: inline-block;
			margin: 0 0.8em 0 0;
			@media #{$phone}{
				margin: 0 0.2em 0 0;
			}
			.#{$namespace}loginUser__message{
			    display: inline-block;
			    margin: 0 1em 0 0;
			}
			a{
				.login-Icon{
					@extend .fa-power-off;
					@extend .fa;
					@extend .fa-lg;
					margin: 0 0.6em 0 0;
					@media #{$phone}{
						font-size: 1.7em;
						position: relative;
						left: 0.4em;
					}
				}
			}
		}
		p{
			margin: 0.05em 1.5em 0 0;
		}
	}

	.#{$namespace}headerLogo{
		display: none;
		@media #{$phone}{
			float: left;
			@include display-flex( flex );
			@include justify-content( center );
			overflow: hidden;
			padding: 0 1em;
			text-align: center;
			min-width: $tool-menu-width;
			@include flex-shrink( 0 );
			@include transition( width 0.5s linear 0s );
			.#{$namespace}headerLogo--institution{
				background: url($logo-mobile) no-repeat center left;
				background-size: auto 100%;
				width: 		$logo-width;
				height: 	$logo-height;
				display:	inline-block;
				position: relative;
				top: 2px;
				margin: 0 0 0 4px;
				@media #{$phone}{
					margin: 0.2em 0 0 0.2em;
					float: none;
				}
			}
		}
	}

	&.is-maximized{
		.siteNavWrap{
			padding: 0 0 0 6px;
			@include flex-grow( 1 );
			@media #{$phone}{
				display: none;
			}
		}
	}
	&.is-minimized{
		.#{$namespace}headerLogo{
			padding: 0.5em 1em 0 1em;
		}
	}
	@media #{$phone}{
		background: $primary-color;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 20;
	}
}

.userNav_link{
	color: $text-color;
	font-family: $header-font-family;
	font-size: 0.9em;
	font-weight: $header-font-weight;
	padding: 0 0.5em 0 0;
	text-decoration: none;
}

.is-logged-out{
	.userNav__subnav{
		position: inherit;
	}
}

.userNav__subnav{
	font-family: $header-font-family;
	position: absolute;
	right: 0em;
	width: #{ $tool-menu-width * 2.5 };
	z-index: 99;
	box-shadow: 0 0 4px rgba( $text-color ,0.35);
	list-style: none;
	padding: 0 0 0 0;
	li{
		display: block;
		border: 0px none;
		@include border-radius( 0 );
		margin: 3px 0 0 0;
		padding: 0 0 0 0;
		min-height: 15px;
		a{
			display: block;
			padding: 0.5em 0.65em;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			.toolMenuIcon{
				vertical-align: sub;
				margin: 0 0.5em 0 0;
			}
		}
	}
	&.is-visible{
		display: block;
		margin: 0.4em 0 0 -0.55em;
	}
	&.is-hidden{
		display: none;
	}
	.Mrphs-userNav__submenuitem--fullname-and-id{
		padding-top: 1em;
		color: $text-color;
		display: inline-block;
		margin-bottom: 5px;
		width: 10em;
		word-wrap: break-word;
		vertical-align: top;

		.Mrphs-userNav__submenuitem--fullname{
			font-weight: $header-font-weight;
			font-size: 120%;
		}

		.Mrphs-userNav__submenuitem--displayid{
			font-weight: normal;
		}

	}
	.#{$namespace}userData{
		border-bottom: 1px solid $tool-border-color;
		margin-bottom: 0.5em;
	}

	.#{$namespace}userNav__submenuitem--profile-and-image{
		display: inline-block;
		vertical-align: top;
		padding: 0.5em 0 0 1em;
		.#{$namespace}userNav__submenuitem--profilepicture{
                    width: 64px;
                    height: 64px;
                }

		.#{$namespace}userNav__submenuitem--profile{
			display: block;
			margin-left: 0.5em;
		}
	}
}

.#{$namespace}topHeader{
	background: $primary-color;
	color: $background-color;
	font-size: 0.9em;
	min-height: 45px;
	width: 100%;
	@include display-flex(inline-flex);
	@include align-items(center);
	@include justify-content( space-between );
	@include transition( top 0.25s linear 0s );
	a{
		color: $background-color;
		font-weight: 300;
		&:hover{
			color: darken($background-color, 5%);
		}
	}
	> * {
		@media #{$phone}{
			display: inline;
		}
	}
	.#{$namespace}loginNav{
		background: $primary-color;
		float: right;
		margin: 0 0 0 0;
		padding: 12px 1em 12px 14px;
		z-index: 10;
		@include flex-shrink( 0 );
		@include align-self( flex-start );
		&:hover{
			background: darken( $primary-color, 5% );
		}
		@media #{$phone}{
			z-index: 0;
			padding: 0 0 0 0;
		}
	}

	@media #{$phone}{
		display: block;
		position: fixed;
		width: 100%;
		top: 0;
		&.moving{
			top: -4.2em;
			#mastLogin #loginLinks ul.#{$namespace}userNav__subnav{
				display: none;
			}
		}
	}

}

#mastLogin{
	
	@media #{$phone}{
		margin: 0 0 0 0;
		width: auto;
	}

	ul{
		display: inline-block;
		text-align: left;
		padding: 0 0.5em;
		margin-bottom:0px;
	}


	.is-hidden{
		display: none;
	}


	#loginForm{
		margin: 0.15em 0.8em 0 0;
		@media #{$phone}{
			margin: 0 0 0 0;
		}
		label{
			@media #{$phone}{
				display: none;
			}
		}
		input[type="text"],input[type="password"],input[type="email"]{
			margin: 0 0.3em 0 0.15em;
			padding: 0.15em 0.15em;
			font-size: 12px;
			border: 0px none;
			@media #{$phone}{
				max-width: 31%;
			}
		}
		#submit{
			font-size: 12px;
			padding: 0.3em 0.5em;
			color: #333333;
			position: relative;
			top: 1px;
			left: 9px;
			letter-spacing: 1.5px;
			@media #{$phone}{
				left: 0px;
				letter-spacing: 1px;

			}
		}
		.#{$namespace}loginForm__button{
			@extend .button;
		}
	}

	#loginUser{
		@include display-flex( flex );
		@include align-items( center );

		&:hover{
			color: $topNav-text-color;
		}
		
		&.has-avatar:hover .#{$namespace}userNav__submenuitem--profilepicture,
			&.has-avatar:active .#{$namespace}userNav__submenuitem--profilepicture
		{
			box-shadow: 0px 0px 5px 1px rgba(165, 165, 165, 0.95);
		}
		
		&.has-avatar:hover .#{$namespace}userNav__submenuitem--username, 
			&.has-avatar:hover .has-avatar .#{$namespace}userNav__submenuitem--userid
		&.has-avatar:active .#{$namespace}userNav__submenuitem--username, 
			&.has-avatar:active .has-avatar .#{$namespace}userNav__submenuitem--userid,
		&.has-avatar .#{$namespace}userNav__submenuitem--username:hover,
			&.has-avatar .#{$namespace}userNav__submenuitem--username:active
		{
			color: $topNav-text-color;
			text-decoration: underline;
		}
	}


	.has-avatar, .no-avatar{
		display: inline-block;
		padding: 0em 1.5em 0.2em 0px;
		position: relative;
		margin-top: -0.8em;
		.#{$namespace}userNav__submenuitem--username, .#{$namespace}userNav__submenuitem--userid{
			display: inline-block;
			max-width: 100px;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;
			text-decoration: none;
			top: 0.6em;
			white-space: nowrap;
		}
	}

	.no-avatar{
		padding-top: 1em;
		.#{$namespace}userNav__submenuitem--username{
			@media #{$phone}{
				display: none;
			}
		}

	}

	.has-avatar{
		.#{$namespace}userNav__submenuitem--profilelink{
			padding: 0 !important;
		}
		.#{$namespace}userNav__submenuitem--profilepicture{
			width:32px;
			height:32px;
			display:inline-block;
			background-size: auto 100%;
			background-position: 50%;
			border-radius:50%;
			margin:5px auto 0px;
			position: relative;
			top: 0.8em;

			&:hover{
				box-shadow: 0px 0px 5px 1px rgba(165, 165, 165, 0.95);
			}
		}
		.#{$namespace}userNav__submenuitem--username, .#{$namespace}userNav__submenuitem--userid{
			@media #{$phone}{
				display: none;
			}
		}
	}

	#loginUser{
		display: block;
		> a[href]:hover{
			color: #e6e6e6;
		}
	}

	.#{$namespace}loginUser{
		padding: 0.55em 0em 0.25em 0.85em;
	}

	.#{$namespace}userNav__dropdown, .#{$namespace}userNav__drop{
		float: right;
		position: relative;
		margin-top: -2.5em;
		padding: 18px 22px 27px 14px;
		display: block;
		outline: 0;
		left: 12px;
		&.is-clicked{
			@include transform( rotate(180deg) );
			position: relative;
			top: -0.2em;
    		left: 1.3em;
			outline: 0;
		}
		@media #{$phone}{
			padding: 18px 22px 3px 14px;
		}
	}

	#loginLinks{
		@media #{$nonPhone}{
			position: absolute;
			top: 0;
			right: 0;
			background: #F0F0F0;
			padding: 0 3px 7px 9px;
			color: $text-color;
			z-index: 99;
			a[href]{
				color: $primary-color !important;
				&:hover{
					color: lighten($primary-color, 5%) !important;
				}
			}
		}
		font-family: $header-font-family;
		font-weight: $header-font-weight;
		margin-left: 0.5em;
		list-style: none;
		padding: 0 0 0 0;
		ul{
			background-color: $tool-tab-background-color;
			text-align: left;
			padding: 0 0 0.8em 0;
			margin: 0.78em 0 0 0.9em;
			z-index: 35;
			@extend .userNav__subnav;
			&:after {
				bottom: 100%;
				left: 82%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: $tool-tab-background-color;
				border-width: 7px;
				margin-left: -7px;
				outline: 0;
				@media #{$phone}{
					left: 85%;
				}
			}
			.#{$namespace}userNav__submenuitem-indented{
				padding-left: 1.5em;
			}
			@media #{$phone}{
				margin: 3.3em 0 0 -9.8em;
				position: fixed;
			    top: 0.3em;
			    z-index: 61;
			}
			.Mrphs-loginUser{
				padding: 0 0 0 0;
				width: 100%;
				p{
					width: 100%;
				}
			}
			.#{$namespace}userData{
				@media #{$phone}{
					border-top: 7px solid $primary-color;
					background-color: $tool-menu-background-color;
					color: $text-color;
					display: block;
					font-weight: 400;
					padding: 0.7em 0.65em;
				}
			}
			a{
				color: $primary-color;
				padding: 0.25em 0.25em;
				&:hover{
					color: lighten( $primary-color, 10% );
				}
			}
		}
		.#{$namespace}userNav__drop-btn{
			i {
				position: relative;
	    		top: -0.6em;
	    		left: 0.4em;
			}
		}
	}
	
	.#{$namespace}userNav__submenuitem--userid{
		font-style: italic;
	}
}

/* because #loginLinks appears on the Gateway page when two log-in links are available (e.g. for CAS), the following applies only when you are logged in: */
.is-maximized #loginLinks
{
	//border-left: 1px solid $tool-border-color; 
}

.#{$namespace}sitesNav__menu{
	list-style: none;
	padding: 0 0 0 0;
	margin-bottom:0px;
}

.view-all-sites-btn{
	position: relative;
	display: inline-block;
	@media #{$phone}{
		display: none;
	}
}

.view-all-sites-btn a{
	text-decoration: none;
	&:hover{
		color: darken( $background-color, 10% );
		text-decoration: none;
	}
}

.all-sites-icon, .all-sites-label{
	display: inline-block;
	vertical-align: middle;
}

.all-sites-icon{
	/* Using !important here because CKEditor pulls in its own
           fontawesome.css which adjusts the size of our icon unless
           we override it. */
	font-size: 16pt !important;
	padding-right: 2px;
}

#linkNav{
	ul{
		font-family: $header-font-family;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		li.#{$namespace}sitesNav__menuitem{
			display: inline-block;
			margin: 0.5em 0 0 0;
			padding: 0.4em 0;
			&:first-child{
				a{
					border-left: 0px none;
				}
			}
			> a{
				background: $primary-color;
				//border-left: 1px solid rgba(255,255,255,0.5);
			}
			a{
				color: $background-color;
				display: block;
				padding: 0.35em 0.55em 0.35em 0.55em;
				position: relative;
				text-decoration: none;
				top: -3px;

				&:hover{
					color: darken( $background-color, 10% );
				}
			}
			.#{$namespace}sitesNav__drop, .#{$namespace}sitesNav__dropdown{
				outline: 0;
				@extend .fa-angle-down;
				@extend .fa;
				@extend .fa-lg;
				@extend .sitesNav__drop;
				&.is-clicked{
					@include transform( rotate(180deg) );
					left: -5px;
					position: relative;
					top: -2px;
				}
			}
			ul{
				background: $background-color-secondary;
				display: none;
				font-family: $header-font-family;
				position: absolute;
				border-top: 1px solid black;
				margin-top: -4px;
				width: 26rem;
				z-index: 99;
				box-shadow: 0 3px 2px rgba( $text-color, 0.35);
				li{
					display: block;
					border: 0px none;
					@include border-radius( 0 );
					margin: 5px 0 0 0;
					padding: 0 0 0 0;
					min-height: 15px;
					a{
						display: block;
						padding: 0.5em 0.65em;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
						.toolMenuIcon{
							vertical-align: sub;
							margin: 0;
						}
					}
					.#{$namespace}sitesNav__submenuitem-icon {
						display: inline-block;
						vertical-align: top;
					}
					.#{$namespace}sitesNav__submenuitem-title {
						margin-bottom: 2px;
						display: inline-block;
						width: 80%;
					}
				}
				&.is-visible{
					display: block;
				}
				&.is-hidden{
					display: none;
				}

			}
			&.is-opened{
				padding: 0 0 0 0;
				a{
					.#{$namespace}sitesNav__menuitem--myworkspace-label{
						display: inline !important;
					}
				}
			}
			&.is-selected{
				a{
					background: #e3c8d9;
					color: darken( $primary-color, 20% );
					border-left: 1px solid rgba(255,255,255,0);
					margin: 0 0 0 0;
					//padding: 0.8em 0.9em 0.8em 0.9em;
				}
				.#{$namespace}sitesNav__dropdown{
					display: none;
				}
				ul{
					background: $primary-color;
				}
			}

			&.#{$namespace}sitesNav__menuitem--myworkspace{
				padding: 0 0.4em;
				.#{$namespace}sitesNav__drop{
					display: none;
				}

				.#{$namespace}sitesNav__menuitem--myworkspace-label{
					display: none;
				}

				a{
					i{
						font-size: 1.3em;
					}
				}
			}

			&.dropdown-is-visible {
				> a{
					//border-bottom: 1px solid $background-color;
					z-index: 150;
				}
			}

			&.dropdown-is-visible.is-selected {
				> a{
					//border-bottom: 1px solid $primary-color;
				}
			}

		}
	}
	&.opened{
		@media #{$desktop}{
			max-height: 100%;
			overflow: visible;
			#how-many-hidden{
				display: none;
			}
		}
	}
	@media #{$phone}{
		display: none;
	}
}

.sitenav-dropdown-overlay{
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 20;
}

body.is-logged-out{
	#linkNav{
		ul{
			li.#{$namespace}sitesNav__menuitem{
				.#{$namespace}sitesNav__drop, .#{$namespace}sitesNav__dropdown{
					display: none;
				}
			}
		}
	}
}

#show-all-sites{
	display: none;
}

#show-all-sites-mobile{
	color: $background-color-secondary;
	background: lighten( $background-color, 5% );
	display: none;
	cursor: pointer;
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	top: 0em;
	right: 0em;
	width:2.5em;
	border-left: 1px solid darken( $background-color-secondary, 10% );
	padding: 0 9px;
	outline: 0;
	> div{
		display: inline-block;
	}
	#how-many-hidden-mobile{
		font-size: 0.8em;
		vertical-align: middle;
		margin: 0 4px 2px 2px;
		display: inline-block;
	}
	&.opened{
		right: 10px;
		border-left: 0px none;
		> div {
			color: $secondary-color;
			@include transform( rotateZ(45deg) );
		}
	}
}
.#{$namespace}sitesNav__doubledrop{
	@extend .fa-angle-double-down;
	@extend .fa;
	@extend .fa-lg;
	padding-left:5px;
}

.#{$namespace}siteStatus{
	&.is-unpublished{
		margin-left:0em;
		width: 100%;
		padding: 3px;
		color :$background-color-secondary;
		display:block;
		text-align:center;
		background-color: $warn-color;
		border-bottom: 1px solid darken($warn-color, 10%);
		h4{
			padding: 3px;
			display: inline-block;
			vertical-align: top;
		}
		button{
			@extend .button;
		}
	}
}

.user-dropdown-overlay{
	height: 100%; 
	position: fixed; 
	width: 100%; 
	z-index: 2;
}
