.#{$namespace}sakai-announcements{
	table{
		h4 + div.itemAction {
			margin: 0.1em 0 0 0em;
		}
		.lightHighLightRow{
			border-top: 3px solid #ddd;
		}
	}
	.showHideDates{
		margin: 0 0 1em 3em;
		.form-group{
			margin: 6px 0 0px 0;
		}
		.checkbox{
			width: 95px;
		}
	}
	form[name="optionsForm"]{
		.act{
			margin: 1em 0 0 0;
		}
	}
	.act-outer{
		background: #FFF;
		padding: 0 1em 0.8em 1em;
	}

	.merge-list{
		max-width: 1000px;
	}
	
	#reorder-list-sortingToolBar, #reorder-list{
		max-width: 1200px;
	}

	.message-body{
		background-color: darken( $tool-background-color, 5% );
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid darken( $tool-background-color, 10% );
		border-radius: 4px;		
	}	

	.llistacursos>li
	{ margin-bottom: 10px; display: block; width: 100%; border: 1px dashed #dadada; }
	.llistacursos li
	{ padding-top:10px; }
	.llistacursos>li .groupTitle
	{ display: inline-block; width: 95%; vertical-align: top; }
	.llistacursos>li .groupDescription{ 
		display: inline-block; 
		font-size: 0.9em; 
		font-style: italic; 
		color: #999; 
	}
	.llistaassignatures { list-style: none; }
	.llistagrups { list-style: none; }
	.llistaassignatures>li:nth-child(odd) {background: #ECECEC}
}
