@import "base/compass";

//.#{$namespace}
.is-logged-out{
	#content, .#{$namespace}container--footer{
		margin: 0 0 0 0;
		@media #{$phone}{
			margin: 6.5em 0 0 0;
		}
	}
	.#{$namespace}topHeader {
		@media #{$phone}{
			&.moving{
	    		top: -12em;
	    	}
	    }
    }
}

.#{$namespace}portalWrapper {
	position: relative;
}

#pageBody{
	@include align-items(stretch);
	@include display-flex(flex);
	@include flex-direction(row);
	> .#{$namespace}pagebody{
		width: 100%;
	}
	@media #{$phone}{
		padding: 12px;
	}
}

#content, .#{$namespace}container--footer{
	margin: 0 0 0 0;
	width: 100%;

	@media #{$phone}{
		margin: 6.5em 0 0 0;
	}
	
	#col1of2, #col2of2{
		display: inline-block;
		margin: 0 0 0 1%;
		vertical-align: top;
		width: 48%;
		@media #{$phone}{
			display: block;
			width: 100%;
		}
	}
}

.#{$namespace}mainContent{
  background: $main-content-background;
}

.#{$namespace}pageColumns--single, .#{$namespace}footer{
	margin: 0 0 0 0;
	clear: both;
	@media #{$phone}{
		margin: 0 0 0 0;
	}
}

.#{$namespace}container--footer{
	background: $footer-background;
}

.#{$namespace}footer{
	color: $footer-color;
	padding: 1.3em 0.8em;
	font-size: 0.8em;
	@media only screen and (max-width: $screen-xs-max) {
		padding: 13px 0.8em;
	}

	#footer-links{
		list-style: none;
		padding: 0 0 0 0;
		li{
			display: inline-block;
		}
	}
	> .row {
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		> div {
			padding: 0 10px;
			display: flex;
			@media only screen and (max-width: $screen-xs-max) {
				padding: 0 3px;
				margin-bottom: 13px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.#{$namespace}footer-box {
				background-color: #eeeeee;
				flex: 1;
				padding: 13px 15px;

				a {
					color: $link-color;
				}

				h4 {
					margin: 0 0 7px 0;
					font-size: 14px;
				}

				> ul {
					padding: 0;
					margin: 0;

					> li {
						list-style: none;

						li {
							list-style: none;
							text-indent: -5px;

							&::before {
							  content: "- ";
							  text-indent: -5px;
							}
						}
					}
				}
			}
		}
	}
}
